body {
  font-family: 'Ubuntu';
}

#title {
  background-color: #FFC7C7;
  color: #393E46;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Ubuntu';
  font-size: 2rem;
  line-height: 1.5;
}

p {
  font-size: 1.25rem;
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 5%;
}

.navbar {
  padding: 0 0 5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: 'Montserrat-Light';
}

.title-image {
  width: 60%;
  right: -25%;
  position: relative;
  /* transform: rotate(25deg); */
}

/* features section */
#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #3490DE;
  margin-bottom: 1.1rem;
}

.icon:hover {
  color: #08D9D6;
}

#projects {
  text-align: center;
  background-color: #FFC7C7;
}

.project-image {
  width: 25%;
  border-radius: 250%;
  margin: 20px;
  width: 180px;
  height: 150px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #FFC7C7;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 18%;
  margin: 25px 25px 20px;
}

#card_decks{
  padding:150px;
  text-align: center;
}

.card-column{
  padding:3% 2%;
}

/* cta section */

#cta{
  background-color: #FFC7C7;
  padding: 8% 15%;

}

#footer{
  padding: 7% 15%;
  text-align: center;

}

.social-icon{
  margin: 20px 10px;
}
