
body{
   background-color:#DCD6F7;
}

h1{
color: #6639A6;
}

h3{
color: #6639A6;
}

hr{
  border-style:dotted none none none;
  border-color: #ACACAC;
  border-width: 3px;
  height: 0px;
  width: 5%;
}
